
.auto1:before { content: '\e800'; } /* '' */
.autologo_avto:before { content: '\e813'; } /* '' */
.auto3:before { content: '\e802'; } /* '' */
.auto4:before { content: '\e803'; } /* '' */
.auto5:before { content: '\e804'; } /* '' */
.auto6:before { content: '\e805'; } /* '' */
.auto7:before { content: '\e806'; } /* '' */
.auto8:before { content: '\e807'; } /* '' */
.auto9:before { content: '\e808'; } /* '' */
.auto11:before { content: '\e809'; } /* '' */
.auto2:before { content: '\e801'; } /* '' */
.auto10:before { content: '\e80b'; } /* '' */
.auto13:before { content: '\e80c'; } /* '' */
.auto14:before { content: '\e80d'; } /* '' */
.auto15:before { content: '\e80e'; } /* '' */
.auto16:before { content: '\e80f'; } /* '' */
.auto17:before { content: '\e810'; } /* '' */
.auto18:before { content: '\e811'; } /* '' */
.auto19:before { content: '\e812'; } /* '' */
.auto12:before { content: '\e80a'; } /* '' */