.bg-pink{
	background-color: pink;
	color: white;
}
.bg-brown{
	background-color: brown;
	color: white;
}

.bg-khaki{
	background-color: khaki;
	color: white;
}
.bg-choco{
	background-color: chocolate;
	color: white;
}
.bg-darkgray{
	background-color: #2B9AA4;
	color: white;
}
.mt{
	margin-top: -40px !important;
}