.login-page
{
 	background: #000000;
}

.login-box-body
{
	background: #ffffff;
	padding: 50px;
	border: 7px solid #686565;
	box-shadow: 0px 3px 18px 10px #42909d;
}

.my-control
{
	border-color: #000000;
	background-color: #fdf3f391;
	border: 2px solid;
}

a
{
	color: #064e8c;
}

.register-box
{
	margin-top: 10px;
}